[submodule "third_party/hiredis"]
	path = third_party/hiredis
	url = https://github.com/redis/hiredis.git
[submodule "third_party/libbcrypt"]
	path = third_party/libbcrypt
	url = https://github.com/sundongxu/libbcrypt.git
[submodule "third_party/grpc"]
	path = third_party/grpc
	url = https://github.com/grpc/grpc.git
